.modal-background{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-toggle-on::before {
    color: greenyellow;
    font-size: 24px;
}
.fa-toggle-off::before {
    color: red;
    font-size: 24px;
}


.image{
    max-width: 66%;
}


.titulo-post{
    padding: 20px 25px 0px 20px;
}

.card-content.activa{
    background-color: rgb(212, 212, 209);
}

.card-content.baja{
    background-color: rgb(199, 192, 192);
    border-bottom: 1px solid gray;
}