.modal-background{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-toggle-on::before {
    color: greenyellow;
    font-size: 24px;
}
.fa-toggle-off::before {
    color: red;
    font-size: 24px;
}


.image{
    max-width: 66%;
}

.decoration-none {
    text-decoration: none;
}